body {
  margin: 0%;
  font-family: "Merriweather", serif;
}
.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  background: #333333;
  color: white;
  padding: 1%;
  box-shadow: 0px 5px 2px gray;
}
a {
  padding: 1%;
  margin: 0%;
}
.name {
  padding: 1%;
  margin: 0%;
  margin-right: 13%;
  margin-left: 10%;
  border: 2px dotted #f78281;
  border-radius: 10px;
}
a:hover {
  border: 2px dotted #f78281;
  border-radius: 10px;
}
.main {
  padding-top: 8%;
}
div {
  padding: 0% 2% 0% 2%;
}
.maindiv {
  padding-top: 2%;
}
.intro {
  padding: 0% 10% 0% 10%;
  display: grid;
  grid-template-columns: 66% 34%;
}
img {
  height: 66%;
  border-radius: 30px;
  padding: 8px;
  opacity: inherit;
  background: lightgray;
  border: 4px dotted darksalmon;
}
.intropara {
  text-align: left;
}
.introhead {
  line-height: 1rem;
  font-size: 2rem;
}
.intodesc {
  font-size: 1rem;
  line-height: 2rem;
}
u {
  text-decoration-color: indianred;
  text-decoration-style: dashed;
  text-decoration-thickness: 3px;
}
.Exp {
  border-top: 3px dashed darksalmon;
  padding: 0% 10% 0% 10%;
  line-height: 2rem;
}
.expgrid {
  display: grid;
  padding: 0% 10% 0% 10%;
  line-height: 2rem;
  grid-template-columns: 48% 48%;
  gap: 1%;
}
.expcard {
  border: 2px solid gray;
  padding: 2%;
  border-radius: 10px;
}
.exspace {
  display: inline-block;
  width: 20%;
}
