* {
  font-family: "Inter";
  margin: 0%;
  padding: 0%;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  padding-left: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-menu p {
  font-size: 3vw;
  color: blue;
  font-weight: 700;
  padding-top: 0.5rem;
}
.nav-menu a {
  padding-top: 0.5vh;
  font-size: 2vw;
  text-decoration: none;
  font-weight: 700;
  padding: 1vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.nav-menu a:hover{
  color: #0500ff;
  border-radius: 0.75rem;
  box-shadow: 6px 5px 5px #FFDD85;
}
.Intro {
  display: flex;
  justify-content: start;
  padding: 2rem;
}
.Intro img {
  height: 46vw;
  width: 48vw;
  padding-left: 4vw;
}
span {
  padding-top: 8vw;
}
.Intro h2 {
  flex: 1 0 auto;
}
.intro-button p {
  padding: 10px 0 10px 0;
  /* margin: 10px; */
}
.Intro span h1 {
  font-size: 3vw;
  padding-bottom: 2vw;
}
button {
  padding: 1.5vw;
  font-size: 2vw;
  border: none;
  border-radius: 1rem;
}
.titles{
  display: flex;
  padding-left: 12vw;
}

.about{
  display: flex;
}
.profilePicture{
  margin-right: 12vw;
    margin-left: 9vw;
    height: 15vw;
    border-radius: 2rem;
    border-radius: 2rem;
    border: 1vw solid #FFDD85;
    box-shadow: 6px 5px 5px #0500ff;
}